compilado2.py
src/test.py
imgs/ImgTransform/h1.png
imgs/ImgTransform/h2.png
imgs/ImgTransform/h3.png
imgs/ImgTransform/h4.png
imgs/ImgTransform/h5.png
imgs/ImgTransform/h6.png
imgs/ImgTransform/h7.png
imgs/ImgTransform/h8.png
imgs/ImgTransform/h9.png
src/aplanaLetra.py
